# Text break
* text=auto
* text eol=lf

# Archive ignore
/.github export-ignore
/tests export-ignore
.gitignore export-ignore
.gitattributes export-ignore
LICENSE export-ignore
*.md export-ignore
*.png export-ignore
*.xml export-ignore
_config.yml export-ignore

# Linguist
*.bat linguist-detectable=false
*.cmd linguist-detectable=false
