# Text break
* text=auto
* text eol=lf

# Archive ignore
/.github export-ignore
/tests export-ignore
.gitignore export-ignore
.gitattributes export-ignore
LICENSE export-ignore
README.md export-ignore
CODE-OF-CONDUCT.md export-ignore
CONTRIBUTING.md export-ignore
SECURITY.md export-ignore
_config.yml export-ignore
logo.png export-ignore

# Linguist
*.bat linguist-detectable=false
*.cmd linguist-detectable=false
