# Auto detect text files and perform LF normalization
* text=auto
* text eol=lf
/.github export-ignore
.gitignore export-ignore
.gitattributes export-ignore
CODE-OF-CONDUCT.md export-ignore
CONTRIBUTING.md export-ignore
SECURITY.md export-ignore
_config.yml export-ignore
logo.png export-ignore